@model IEnumerable<NewsPage.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        @foreach (var post in Model)
        {
            <div class="card mb-4">
                @if (post.Images != null && post.Images.Any())
                {
                    <img src="@post.Images.FirstOrDefault()?.Path" class="card-img-top" alt="...">
                }
                <div class="card-body">
                    <h2 class="card-title">@post.Title</h2>
                    <p class="card-text">@post.Text</p>
                    <a href="@Url.Action("Details", "Posts", new { id = post.PostId })" class="btn btn-primary">Read More &raquo;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on  ("MMMM dd, yyyy") by Author//
                </div>
            </div>
        }
    </div>
</div>
